body{margin: 0;font-family: 'Philosopher', sans-serif;}
main{
    float: left;
    width: 70%;
    min-height: 100%;
    display: inline-block;
}
a{
    color:#2694d1;
}
aside{
    background: black;
    color:#fbd905;
    display: inline-block;
    width: 30%;
    float: right;
    min-height: 100%;
}   
.main_title{
    font-size:32px;
    padding-left: 50px; 
}
.sub_title{
    font-size:24px;
    padding-left: 50px;
    font-weight: normal;
}
.octagon {
    margin: 25px auto 0;
    display: block; 
    width: 250px;
    height: 250px;
    background: #ac60ec;
    position: relative;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.resume{

    width: 1200px;
    height: 1500px;
    display: block;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contacts,.experience,.education{
    width: 90%;
    display: block;
    margin-left:50px; 
    border-top: 1px solid #80808070;
    
}
.contacts ul{
    list-style: none;
    line-height: 1.5;
}


title{
    display: block;
    margin-left: 10%;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;

}
.bio p{
    width: 80%;
    margin-left:10%;
}

.ex_dsc{
    margin: 20px 0;
}
.experience title,.education title{
    font-weight: bold;
    font-size: 18px;
    margin-left: 0;
    margin-bottom: 30px;
}
.ex_item:before{
    content: "";
    position: absolute;
    height:  200px;
    width: 1px;
    background: #d1d1d1;
    
    left: 100px;
}
.ex_head:before{
    content: "";
    left: 90px;
    border-radius: 50%;
    position: absolute;
    height: 16px;
    width: 16px;
    background: #fff;
    border: 2px solid #2694d1;
}
.education{
    margin-top:120px; 
}
.skills ul {
    list-style: none;
}
.skills-list .progress .percentage {
    background-color: #fbd905;    height: 5px;
}
.skills-list .progress {
    border: 1px solid #fbd905;
    width: 200px;
    height: 5px;
}
.skills-list h4 {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    
}
.albums img{
    width: 200px;
    margin: 20px auto;
    display: block;
}